body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

h1 {
  text-align: center;
  color: black;
  margin-top: 50px;
}

form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

label {
  display: block;
  margin-bottom: 10px;
  color: black;
}

input[type="email"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background: #1a2226;
  color: #0b0b0bc2;
  margin-bottom: 20px;
}

input[type="submit"] {
  width: 95%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  color: black;
  font-weight: bold;
  letter-spacing: 1px;
  animation: button-effect 8s linear infinite;
}

.newreg {
  margin-left: 220px;
}

input[type="submit"]:hover {
  background-position: 400%;
  cursor: pointer;
}

@keyframes button-effect {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
