body {
  /* background: #222d32; */
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  color: #008080;
  margin-top: 50px;
  font-family: "cursive", "Style Script";
  font-size: 50px;
}

form {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  background: #1a2226;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 50px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #ecf0f5;
}

input[type="text"],
input[type="date"],
input[type="radio"],
input[type="tel"],
input[type="email"],
input[type="password"],
select,
textarea {
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background: ;
  color: ;
  margin-bottom: 20px;
}
input[type="radio"] {
  margin-left: 15px;
  width: 50px;
}

input[type="number"] {
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background: ;
  color: black;
  margin-bottom: 20px;
}

input[type="password"] {
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 15px;
  background: ;
  color: black;
  margin-bottom: 20px;
}

input[type="url"] {
  width: 90%;
  padding: 10px;
  border: ;
  border-radius: 15px;
  background: ;
  color: black;
  margin-bottom: 20px;
}

input[type="file"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background: #1a2226;
  color: #ecf0f5;
  margin-bottom: 20px;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  /* animation: button-effect 8s linear infinite; */
}

input[type="submit"]:hover {
  background-position: 400%;
  cursor: pointer;
}

@keyframes button-effect {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
